*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(image/nature.jpeg);
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color:rgb(0, 0, 0,0.295);
}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    padding:0 10vh;
    color: #ffffff;
    bottom: 5%;
}
.text h1{
    font-size: 4vw;
    font-weight: 600;
}
.text .image{
    /* background-image: url(image/iphone.jpeg); */
    background-image: url(image/home.jpeg);
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 220px;
}
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;

}
.botton{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(image/badwallpeper.jpeg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}
.b1 p{
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
.b2{
    width: 30%;
    min-height: inherit;
    /* display: flex; */
    flex-direction: column;
    display: flex;

}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image:url(image/bich.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    

}
.b2 .up h1{
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(image/colorwallpepar.jpeg);
    background-size: cover;
    background-position:center;
    display: flex;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgb(255, 255,255, 0.344);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image:url(image/black.jpeg);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 100%;
    height: 4vh 3vh;
}
.b3 .overlay p{
    padding: 1.2vh;
    font-size:large;
    /* color: rgb(0, 0, 0); */
    color: #ffffff;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 200%;
        margin-left: inherit;
    }
}


@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;

    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;

    }
    .icons{
        margin-top: 10px;
    }
    .botton{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 .up{
        min-height: 40vh;
    }
    .b3{
        width: 100%;
        min-height:30vh;
    }

}